{% extends 'base.html' %}

{% block title %} {{ activity.name }} Details {% endblock %}

{% block body %}

<h1>{{ activity.name }}</h1>

<p>Activity Type: {{ activity_type }}</p>

<p>Details: {{ activity.description }}</p>

<iframe src="https://giphy.com/embed/11sBLVxNs7v6WA" width="480" height="217" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cheer-cheering-11sBLVxNs7v6WA"></a></p>

<h2>Let's go here!!!!</h2>

<a class="btn btn-primary" href="/itinerary">Add to itinerary</a>
{% endblock %}