{% extends 'base.html' %}

{% block title %}
    Activities - Traventure Buddy
{% endblock %}

{% block body  %}

<script src="static/script.js"></script>  

<div id="loader">
    <div class="tenor-gif-embed" data-postid="15571440" data-share-method="host" data-aspect-ratio="1" data-width="20%"><a href="https://tenor.com/view/buscando-duck-looking-searching-finding-gif-15571440">Buscando Duck GIF</a>from <a href="https://tenor.com/search/buscando-gifs">Buscando GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>

<div style="display:block;" id="all-activs" class="animate-bottom">


    <h1>{{ city }}, {{ country }}</h1>
    <h3>{{ from_date }} - {{ to_date }}</h3>

    <button type="submit">View in Columns</button>

    {% if activities %}

        <ul>
            {% for activity in activities %}
                <li>
                    <a href="/activities/{{ activity.activity_id }}">
                        {{ activity.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% if not trip %}
            <p>Save this list to your profile as:</p>
            <form action="/save-list/{{ destination_id }}" method="POST">
                <div class="mb-3 row">
                    <!--label for="city" class="col-sm-2 col-form-label">City:</label-->
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="city" name="city" value="{{ city }}">
                    </div>
                    <!--label for="country" class="col-sm-2 col-form-label">Country:</label-->
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="country" name="country" value="{{ country }}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
            </form>
        {% else %}
            <a href="/delete-list/{{ trip.trip_id }}" class="btn btn-danger">Delete</a>
        {% endif %}
    {% else %}
            <h3>
                Sorry, 
                {% if "user" in session %} 
                    {{ user.fname }}.
                {% else %}
                    Traveler.
                {% endif %}  Looks like Traventure Buddy hasn't quite explored this destination yet.
            </h3>
            <h5>There are no activities available at the moment but you can be the trail blazer!</h5>
    {% endif %}
</div>
    <!--script>
        $(window).load(function() {
          $('#loading').hide();
        });
    </script-->

   

{% endblock %}    