{% extends 'base.html' %}

{% block title %} {{ activity.name }} Details {% endblock %}

{% block body %}

<h1 class="text-center">{{ activity.name }}</h1>

<h5 class="text-center">Activity Type: {{ activity_type }}</h5>

<p class="text-center">Details: {{ activity.description }}</p>

<div class="text-center">
    <iframe src="https://giphy.com/embed/11sBLVxNs7v6WA" width="480" height="217" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>

<h4 class="text-center">LET'S GO HERE!</h4>

{% endblock %}