{% extends 'base.html' %}

{% block title %} Login Traventure Buddy {% endblock %}

{% block head %}

    <style>
        body {
                background-image: url("/static/images/brownboat.jpg");
                background-size: cover;
            }
    </style>
    
{% endblock %}

{% block body %}

<div class="container mt-3">

    <div class="row d-flex justify-content-center mb-3">
        <h4 class="col-4 text-center">Log in to save your searches</h4>
    </div>

    <div class="text-center mb-5">
        <img src="/static/images/darkgreenglobe.png" width="200" height="200">
    </div>
   
    
    <form class="text-center" action="/login" method="POST">
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text border-dark" id="inputGroup-sizing-default">Email</span>
                    </div>
                    <input type="text" class="form-control border-dark" aria-label="default" aria-describedby="inputGroup-sizing-default" id="email" name="email" placeholder="example@gmail.com">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text border-dark" id="inputGroup-sizing-default">Password</span>
                    </div>
                    <input type="password" class="form-control border-dark" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="password" name="password" placeholder="******...">
                </div>
            </div>
        </div>
        <p> <button class="btn btn-light" type="submit">Login</button> </p>
    </form>
</div>

<form class="text-center" action="/create_account">
    <p class="text-light">Don't have an account?</p>
    <a href="/create_account" class="text-light"> Create one here </a>
</form>

{% endblock %}