{% extends 'base.html' %}

{% block title %}
    Activities - Traventure Buddy
{% endblock %}

{% block body  %}

<div class="container">

    <div class="row">
        <h1>{{ city }}, {{ country }}</h1>
        <h3>{{ from_date }} - {{ to_date }}</h3>


            <div class="list-group mb-3 col-6">
                {% for activity in activities %}
                        <a class="list-group-item list-group-item-action" href="/activities/{{ activity.activity_id }}">
                            {{ activity.name }}
                        </a>
                {% endfor %}
            </div>
        
            <div class="col-6"><img class="img-fluid" src="{{ trip.destination.image }}"></div>
    </div>
    <a href="/delete-list/{{ trip.trip_id }}" class="btn btn-danger">Delete</a>
</div>


{% endblock %}    